#title{
    padding: 20px;
    color: black;
    margin: 0px;
    font-family: sans-serif;
}

.Top{
    background-color: rgb(247, 203, 201);
    margin: 0px;
}

.title{
    background-color: rgba(0,0,0,0);
    border-width: 0px;
}